.mazemapWrapper {
    /* display: flex; */
    flex-grow: 1;
    height: 100%;
}
.small{
    height: 50vh;
    flex-grow: 1;
}

.mapRoot {
    height: 100%;
    flex-grow: 1;
}
.fill{
    height: 100% ;
    flex-grow: 1;
}